name: NeuralBytes Automation
on:
  workflow_dispatch: # This adds the "Manual Run" button
  schedule:
    - cron: '0 12 * * *' # Runs daily at 12:00 PM UTC

jobs:
  post-to-insta:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install Tools
        run: pip install -r requirements.txt
      - name: Run Script
        env:
          INSTA_USER: ${{ secrets.INSTA_USER }}
          INSTA_PASS: ${{ secrets.INSTA_PASS }}
        run: python main.py
